<?xml version="1.0"?>
<launch>
	<!-- arg <bagfile>: filename of a bag in catkin_ws/../logs/ -->
	<arg name="bagfile" default="test" />
	
	<!-- arg <calib>: filename of a camera calibration file in catkin_ws/src/camera_matrix/config/ -->
	<arg name="calib" default="test" />
	
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find test)/config/config.rviz" />
		
	<include file="$(find camera_matrix)/launch/camera_matrix_publisher.launch" >
		<arg name="calib" value="$(arg calib)" />
	</include>
	
	<include file="$(find camera_matrix)/launch/undistorted_image_publisher.launch" />
	
	<include file="$(find logging)/launch/log_player.launch" >
		<arg name="filename" value="$(arg bagfile)" />
	</include>
</launch>
