<launch>
	<!-- arg <filename>: name of a bag file in catkin_ws/../logs/ -->
	<arg name="filename" default="test" />
	
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find test)/config/config.rviz" />
	
	<include file="$(find logging)/launch/log_player.launch" args="$(arg filename)" />
</launch>
