<?xml version="1.0"?>
<launch>
  <!-- arg <bagfile>: filename of a bag in catkin_ws/../logs/ -->
  <arg name="bagfile" default="test" />
    
  <!-- arg <calib>: filename of a camera calibration file in catkin_ws/src/camera_matrix/config/ -->
  <arg name="calib" default="default" />
  
  <!-- arg <big_map>: 0|1 = off|on. Use a given, big map or create a dynamic map, otherwise. -->
  <arg name="big_map" default="1" />
  
  <!-- arg <grid_size>: size (in m) of a grid cell of map -->
  <arg name="grid_size" default="1.0" />
  
  <!-- arg <update_interval_min>: do not copy over an existing map piece until at least that many s have passed -->
  <arg name="update_interval_min" default="2" />
  
  <!-- arg <update_interval_max>: always copy over an existing map piece if at least that many s have passed -->
  <arg name="update_interval_max" default="120" />
  
  <!-- arg <logfile>: filename where to store the track data in catkin_ws/../logs/ -->
  <arg name="logfile" default="test" />
  
  <!-- arg <errorfunction>: Which error function to use, where [0|1] correspondes to [pixelwise|centroids] -->
  <arg name="errorfunction" default="0" />
  
  <!-- arg <downscale>: When comparing images, resize them to (width/downscale, height/downscale). -->
  <!-- Boost performance with this! -->
  <arg name="downscale" default="25" />
  
  <!-- arg <kernel_size>: Size of the gaussian kernel used while downscaling. -->
  <arg name="kernel_size" default="5" />
  
  <!-- arg <kernel_stddev>: Standard deviation of the kernel used while downscaling. -->
  <arg name="kernel_stddev" default="2.5" />
  
  <!-- arg <particles_num>: Number of particles -->
  <arg name="particles_num" default="50" />
  
  <!-- arg <particles_keep>: Percent of particles to keep. The rest is resampled randomly -->
  <arg name="particles_keep" default="1.0" />
  
  <!-- arg <particle_belief_scale>: For a given error e the particle belief b is computet as b=exp( - (particle_belief_scale * e)^2 ). -->
  <arg name="particle_belief_scale" default="4" />
  
  <!-- arg <particle_stddev_lin>: Linear standard deviation (in m) of distribution which is used to resample near a kept particle. -->
  <arg name="particle_stddev_lin" default="0.1" />
  
  <!-- arg <particle_stddev_ang>: Angular standard deviation (in radians) of distribution which is used to resample near a kept particle. -->
  <arg name="particle_stddev_ang" default="0.1" />
  
  <!-- arg <hamid_sampling>: 0|1 = off|on. With Hamid-Sampling, each original particle hit by SUS will be kept as is, without respect to it's belief. -->
  <arg name="hamid_sampling" default="0" />
  
  <!-- arg <bin_size>: Length of a bins side in m. Choose 0 to disable binning. -->
  <arg name="bin_size" default="0.5" />
  
  <!-- arg <punishEdgeParticlesRate>: multiply belief with this factor. -->
  <arg name="punishEdgeParticlesRate" default="0.5" />

  <!-- arg <setStartPos>: start particle filter with initial position -->
  <arg name="setStartPos" default="1" />

  <rosparam> use_sim_time: true </rosparam>  

  <node name="static_tf_broadcaster" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 world base_link 100" />

  <include file="$(find fisheye_camera_matrix)/launch/camera_matrix_publisher.launch" >
    <arg name="calib" value="$(arg calib)" />
  </include>

  <include file="$(find fisheye_camera_matrix)/launch/undistorted_image_publisher.launch" />
  
  <node name="localization_cp2_publisher" pkg="cps2" type="localization_publisher_debug" args="$(arg big_map) $(arg grid_size) $(arg update_interval_min) $(arg update_interval_max) $(arg logfile) $(arg errorfunction) $(arg downscale) $(arg kernel_size) $(arg kernel_stddev) $(arg particles_num) $(arg particles_keep) $(arg particle_belief_scale) $(arg particle_stddev_lin) $(arg particle_stddev_ang) $(arg hamid_sampling) $(arg bin_size) $(arg punishEdgeParticlesRate) $(arg setStartPos)" output="screen" />
  
  <node pkg="control" type="control_node_debug" name="control_node" args="" output="screen">
    <rosparam>
      mode: 0
      epsilon: 0.3
      dstPosX: -0.04
      dstPosY: 0.03
      speed: 200
    </rosparam>
  </node>
  
  <node pkg="control" type="control_track_node_debug" name="control_track_node" args="" output="screen">
    <rosparam>
      trackFile: track01.csv
    </rosparam>
  </node>
  
  <node name="log_player" pkg="rosbag" type="play" args="--clock $(find cps2)/../../../logs/$(arg bagfile).bag" /> 

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find control)/config/config_control.rviz" />
</launch>
