<launch>
  <!-- arg <mode>: 0 set destination dynamicly else constant angle 0-180 -->
  <arg name="mode" default="0" />
  
  <!-- arg <dstPosX>: set X value for the destination to drive to -->
  <arg name="dstPosX" default="0" />
  
  <!-- arg <dstPosy>: set Y value for the destination to drive to -->
  <arg name="dstPosY" default="0" />
  
  <!-- arg <speed>: speed with which the car should drive 20-1000 -->
  <arg name="speed" default="20" />

  <node pkg="control" type="control_node" name="control_node" args="$(arg mode) $(arg dstPosX) $(arg dstPosY) $(arg speed)" output="screen">
  </node>

  <!-- arg <pathFile>: file to load point list from -->
  <arg name="pathFile" default="track01.csv" />
  
  <node pkg="control" type="path_control_node" name="path_control_node" args="$(arg pathFile)" output="screen">
  </node>
</launch>
