<?xml version="1.0"?>
<launch>
  <!-- arg <mapfile>: filename of a map image in catkin_ws/../captures/ -->
  <arg name="mapfile" default="map_test.png" />

  <!-- arg <errorfunction>: Which error function to use, where [0|1] correspondes to [pixelwise|centroids] -->
  <arg name="errorfunction" default="0" />
  
  <!-- arg <particles_num>: Number of particles -->
  <arg name="particles_num" default="500" />
  
  <!-- arg <particles_keep_percent>: Percent of particles to keep. The rest is resampled randomly -->
  <arg name="particles_keep_percent" default="0.75" />
  
  <!-- arg <particle_stddev>: Standard deviation (in px) of distribution which is used to resample near a kept particle. -->
  <arg name="particle_stddev" default="5" />

  <node name="localization_cp2_publisher" pkg="cps2" type="localization_publisher" args="$(arg mapfile) $(arg errorfunction) $(arg particles_num) $(arg particles_keep_percent) $(arg particle_stddev)" output="screen" />
</launch>
