<?xml version="1.0"?>
<launch>
  <!-- arg <img>: filename of an image in catkin_ws/../captures/ -->
  <arg name="img" default="img1.png"/>
  
  <!-- arg <pos_x>: pos x (in m) of a second image relative to img in world frame -->
  <arg name="pos_x" default="1.0"/>
  
  <!-- arg <pos_y>: pos y (in m) of a second image relative to img in world frame -->
  <arg name="pos_y" default="1.0"/>
  
  <!-- arg <pos_theta>: rotation (in rad) of a second image relative to img in world frame -->
  <arg name="pos_theta" default="0.3"/>
  
  <!-- arg <guess_x>: guessed pos x (in m) of a second image in world frame -->
  <arg name="guess_x" default="1.1"/>
  
  <!-- arg <guess_y>: guessed pos y (in m) of a second image in world frame -->
  <arg name="guess_y" default="0.9"/>
  
  <!-- arg <guess_theta>: guessed rotation (in rad) of a second image in world frame -->
  <arg name="guess_theta" default="0.4"/>
  
  <arg name="treshold" default="122"/>
  
  <node name="test_image_distance" pkg="cps2" type="test_image_distance" args="$(arg img) $(arg pos_x) $(arg pos_y) $(arg pos_theta) $(arg guess_x) $(arg guess_y) $(arg guess_theta) $(arg treshold)" output="screen" />
</launch>
